doctype html
html
  head
    title Nightlife Coordination App
    link(href='/public/css/main.css', rel='stylesheet', type='text/css')
  body
    .main
        h1 Plan your nights out. Coordinate with Friends.
        form#locationForm(action='/search', method='POST')
            input#location(type='text', name='location', placeholder='Where are you located?')
            input#locationSubmit(type='submit', value='Search')
        a(href="/login", id="loginButton")
          h2 Login