doctype html
html
  head
    title Nightlife Coordination App
    link(href='/public/css/main.css', rel='stylesheet', type='text/css')
  body
    .main
        .mainHeader
          if user != null
            h3 Welcome, 
              span(style='color:lightblue') #{user.displayName}!
            if user.search != 0
              a(href='/previoussearch')
                h2(id='previousSearch') Previous Search
        .contentContainer
          h1 Plan your nights out. Coordinate with Friends.
          if user != null
            form#locationForm(action='/search', method='POST')
                input#location(type='text', name='location', placeholder='Where are you located?')
                input#locationSubmit(type='submit', value='Search')
          else
            form#locationForm(action='/guestsearch', method='POST')
                input#location(type='text', name='location', placeholder='Where are you located?')
                input#locationSubmit(type='submit', value='Search')
          if user != null
            a.loginButton(href="/logout")
              h2 Logout
          else
            a.loginButton(href="/auth/google")
              h2 Login