/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

header {
	color: #00BCD4;
	height: 56px;
	margin: 0 0 14px 0;
	text-align: center;
}

p {
	margin: 8px 0 0 0;
}

.container p {
	text-align: center;
	padding: 0;
}

/****** Header Styling ******/

header p {
	margin: 16px 0 5px 0;
}

.menu {
	text-decoration: none;
	padding: 6px;
	margin: 0;
	color: #727272;
}

.menu:visited {
	color: #727272;
}

.menu:hover {
	color: #FFA000;
}

.menu:active {
	color: #FF630D;
}

header a ~ p {
	margin: 0;
	padding: 0;
	display: inline;
	color: #ECEFF1;
}

#display-name {
	font-weight: 400;
}

/****** Login Styling ******/

.login {
	margin: 86px auto 0 auto;
	text-align: center;
}

#login-btn {
	width: 225px;
	padding: 7px 5px;
}

.btn p {
	margin: 8px 0 0 0;
	padding: 0;
}

.btn > img {
	float: left;
	margin-left: 10px
}

/****** Logo Div Styling ******/

img {
	margin: 0 auto;
	display: block;
}

.clementine-text { /* Styling for the Clementine.js text */
	padding: 0;
	margin: -25px 0 0 0;
	font-weight: 500;
	font-size: 60px;
	color: #FFA000;
}

/****** Click Styling ******/

.btn-container {	/* Styling for the div that contains the buttons */
	margin: -10px auto 0 auto;
	text-align: center;
}

.btn {	/* Styling for buttons */
	margin: 0 8px;
	color: white;
	background-color: #00BCD4;
	display: inline-block;
	border: 0;
	font-size: 14px;
	border-radius: 3px;
	padding: 10px 5px;
	width: 100px;
	font-weight: 500;
}

.btn:focus {	/* Remove outline when hovering over button */
	outline: none;
}

.btn:active {	/* Scale the button down by 10% when clicking on button */
	transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	-moz-transform: scale(0.9, 0.9);
}

.btn-delete {	/* Styling for delete button */
	background-color: #ECEFF1;
	color: #212121;
}

#click-nbr {
	font-weight: 400;
}

/****** Profile Styling ******/

.github-profile {
	width: 350px;
	height: 200px;
	border-radius: 3px;
	margin: 86px auto 0 auto;
	background-color: #EEE;
	text-align: center;
	color: #000;
}

.github-profile p:first-child {
	padding-top: 16px;
}

.github-profile p:nth-child(5) {
	margin-bottom: 16px
}

.github-profile p {
	margin: 0 0 0 16px;
	text-align: left;
}

.profile-value {
	font-weight: 400;
}

span {
	font-weight: 500;
}

.github-profile > img {
	padding-top: 16px;
	margin-bottom: 16px;
}

.github-profile .menu:hover {
	color: #FFA000;
}

.github-profile .menu:active {
	color: #FF630D;
}

#menu-divide {
	color: #FFFFFF;
	display: inline;
	margin: 0;
}
.main{
	min-height:800px;
	width:100%;
	background:url('../img/john-price-4977.jpg');
	background-size: cover;
	text-align:center;
	overflow:hidden;
}
.mainHeader{
	width:100%;
	height:40px;
	text-align:right;
}
.mainHeader h3{
	margin:0;
	padding: 5px 50px 0 0;
	color:black;
}
.main h1{
	color:white;
	padding-top:150px;
}
#location{
	width:400px;
}
.loginButton{
	text-decoration:none;
	color:white;
}
.loginButton h2{
	background-color:black;
	display:inline-block;
	padding:5px 15px 5px 15px;
	border-radius:5px;
}
.resultRecord{
	display:inline-block;
	width:250px;
	height:335px;
	box-shadow: 2px 4px 6px 0px;
	margin:10px;
	vertical-align:top;
}
.resultRecordHeader{
	background-color:black;
	width:100%;
	height:45px;
	text-align:center;
	overflow:hidden;
}
.resultRecordHeader p{
	color:white;
	font-size:20px;
	padding-bottom:10px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
.resultRecordImage{
	background-size:cover;
	background-position:center center;
	width:100%;
	height:200px;
}
.searchWindow{
	width:100%;
	background-color:white;
	text-align:center;
	position:relative;
}
.yelpRating{
	height:20px;
	width:100%;
}
.yelpRatingImage{
	height:16px;
	margin: 2px 5px 2px 0;
	float:right;
}
.yelpRatingReviews{
	display:inline-block;
	font-size:14px;
	margin:0;
	padding-left:10px;
	float:left;
}
.price{
	width:85px;
	height:69px;
	display:inline-block;
	overflow:hidden;
	text-align:center;
}
.price p{
	margin:0;
	padding:0;
	font-size:14px;
	margin-top:10px;
}
.distance{
	width:90px;
	height:69px;
	display:inline-block;
	overflow:hidden;
	text-align:center;
}
.distance p{
	margin:0;
	padding:0;
	margin-top:10px;
	font-size:14px;
	white-space: nowrap;
  	overflow: hidden;
}
.toAttend{
	width:75px;
	height:69px;
	display:inline-block;
	overflow:hidden;
}
.rsvpButton{
	margin:12px auto 0 auto;
	width:50px;
	height:40px;
	background-color:darkblue;
	border-radius:15px;
	overflow:hidden;
	box-shadow:3px 3px 3px 0;
}
.rsvpButtonActive{
	margin:12px auto 0 auto;
	width:50px;
	height:40px;
	background-color:green;
	border-radius:15px;
	overflow:hidden;
	box-shadow:3px 3px 3px 0;
}
.rsvpButton p{
	margin:0;
	padding-top:10px;
	font-size:14px;
	color:white;
}
.rsvpButtonActive p{
	margin:0;
	padding-top:10px;
	font-size:14px;
	color:white;
}
.resultRecord hr{
	margin:0;
}
.rsvpWindowContainer{
	position:fixed;
	height:100vh;
	width:100%;
	left:50%;
	top:0;
	transform:translateX(-50%);
	background:rgba(1,1,1,.4);
	margin:auto;
	display:none;
	z-index:1;
}
.rsvpWindow{
	position:fixed;
	height:500px;
	width:500px;
	left:50%;
	top:100px;
	transform:translateX(-50%);
	background-color:white;
	margin:auto;
	display:none;
	z-index:2;
}
.rsvpWindowHeader{
	background-color:darkblue;
	width:100%;
	height:20px;
}
.exitButton{
	height:20px;
	background-color:black;
	width:20px;
	float:right;
}
.rsvpWindowMap{
	width:500px;
	height:380px; 
}
.rsvpWindowInfo{
	width:100%;
	height:120px;
}
.rsvpWindowInfoHeader{
	height:20px;
	width:100%;
	overflow:hidden;
	border-bottom:1px solid black;
}
.rsvpWindowInfoLeft{
	height:100px;
	width:70%;
	display:inline-block;
	overflow:hidden;
}
.rsvpWindowInfoRight{
	height:100px;
	width:30%;
	display:inline-block;
	overflow:hidden;
}
.infoTitle{
	font-size:15px;
	font-family:"Arial Black";
	color:gray;
	margin-top: 3px;
	padding:0;
}
.address{
	width:50%;
	display:inline-block;
}
.addressOne{
	font-size:12px;
}
.addressTwo{
	font-size:12px;
}
.contact{
	width:50%;
	display:inline-block;
	vertical-align:top;
}
.infoPhone{
	font-size:12px;
}
.confirmButton{
	margin:25px auto 0 auto;
	width:65px;
	height:50px;
	background-color:darkblue;
	border-radius:15px;
	overflow:hidden;
	box-shadow:3px 3px 3px 0;
}
.confirmButton p{
	margin:0;
	padding-top:15px;
	font-size:14px;
	color:white;
}
.confirmButtonActive{
	margin:25px auto 0 auto;
	width:65px;
	height:50px;
	background-color:green;
	border-radius:15px;
	overflow:hidden;
	box-shadow:3px 3px 3px 0;
}
.confirmButtonActive p{
	margin:0;
	padding-top:15px;
	font-size:14px;
	color:white;
}